/* video section */
.video_section
  display: flex
  align-items: center
  width: 100%
  height: 600px
  background-image: url(../../../../assets/backgrounds/space_background.png)
  background-position: center center
  background-size: auto
  background-repeat: no-repeat
  .player
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    .playerImg
      height: 80%
      width: 50%
      margin: 0 auto
.playVideo
  position: absolute
  width: 70px
  height: 70px

.playerImg:hover
  cursor: pointer

.playerImg:hover + .playVideo
  width: 75px
  height: 75px
@media (max-width: 1400px)
  .video_section
    background-size: 120%
    height: 480px
    iframe
      height: 400px


@media (max-width: 1300px)
  .video_section
    background-size: 120%
    height: 460px

@media (max-width: 1200px)
  .video_section
    background-size: 125%
    height: 400px
    iframe
      height: 350px
  .playVideo
    width: 60px
    height: 60px
  .playerImg:hover + .playVideo
    width: 65px
    height: 65px

@media (max-width: 1000px)
  .video_section
    background-size: 150%
    height: 400px
  .playVideo
    width: 50px
    height: 50px
  .playerImg:hover + .playVideo
    width: 55px
    height: 55px

@media (max-width: 768px)
  .video_section
    background-size: 160%
    height: 280px
    iframe
      height: 230px
  .playVideo
    width: 40px
    height: 40px
  .playerImg:hover + .playVideo
    width: 43px
    height: 43px

@media (max-width: 576px)
  .video_section
    background-size: 182%
    height: 210px
    iframe
      height: 180px
  .playVideo
    width: 35px
    height: 35px
  .playerImg:hover + .playVideo
    width: 38px
    height: 38px

@media (max-width: 450px)
  .video_section
    background-size: 182%
    height: 160px
    iframe
      height: 120px
  .playVideo
    width: 30px
    height: 30px
  .playerImg:hover + .playVideo
    width: 33px
    height: 33px
