/* title section */

.title_section 
  background-image: url(../../../../assets/backgrounds/title_background.png)
  background-size: 110% 100%
  height: 500px
  padding-top: 3%

.title_section__content 
  width: 30%
  margin-left: 22%
  padding-top: 20px

.title_section__content h1 
  line-height: 2.5rem
