
.btn-exit,
.btn-restart 
  background-color: #f7941d
  color: white
  text-align: center
  padding: 10px 8%
  border-radius: 6px
  transition: 0.4s
  height: fit-content
  width: fit-content
  margin: 0 auto
  margin-top: 5%
  font-size: 14px

.result_owl 
  position: relative
  height: 100%

.result_owl_logo,
.resultspeech_logo,
.result_text 
  position: absolute
  display: block

.result_header 
  height: 35%

.result_owl_logo 
  z-index: 1
  width: 15%
  left: 36%
  top: 49%

.resultspeech_logo 
  width: 47%
  transform: scale(0.8, 0.5)
  left: 30%
  top: -30%

.result_text 
  font-size: 12px
  width: 35%
  text-align: left
  left: 37%
  top: 5%

.btns_field 
  display: flex
  flex-direction: row

.game_results 
  overflow-y: scroll
  font-size: 14px
  height: 50%
  text-align: left
  width: 60%
  margin: 0 auto

.sound 
  width: 20px
  height: 20px
  margin-right: 10px

.right-item,
.wrong-item 
  display: flex
  align-items: center

