/* footer */

.footer 
  background-color: #00093c
  height: 150px
  padding-top: 35px
  font-size: 15px
  font-weight: 200
  text-align: center

.footer,
.footer a 
  color: rgba(255, 255, 255, 1)

.footer__content 
  width: fit-content
  margin: 0 auto

.footer__content,
.devs_list 
  display: flex
  flex-direction: row
  justify-content: space-between

.devs_list a 
  display: flex

.footer__info 
  display: flex
  flex-direction: column

.footer__logo__wrapper 
  display: flex
  align-items: center
  width: 90px

.footer__logo 
  display: block
  width: 100%

.gh_title 
  padding-left: 10px

.devs_list a:not(:last-child) 
  padding-right: 10px

.gh_logo__wrapper 
  align-self: center

.dev_year 
  display: flex
  align-items: center
  justify-content: center
  font-weight: 500
