/* footer */
$background-blue: #00093c
$text-white: #fff
.footer
  background-color: $background-blue
  color: $text-white
  height: 130px
  font-size: 18px
  font-weight: 200
  display: flex
  justify-content: center
  align-items: center
.footer__logo
  width: 30%
  height: 30%
  margin-right: -250px
.footer__content
  width: 1200px
  display: flex
  justify-content: center
  align-items: center
  justify-content: space-between
.footer__gitHub
  display: flex
  flex-direction: row
  width: 600px
  justify-content: space-between
  a
    color: $text-white
    display: flex
    justify-content: center
    align-items: center
.footer_year
  font-size: 20px
.gh_logo
  width: 60%
  height: 60%
.gh_title
  margin-left: -8px

@media (max-width: 1600px)
  .footer__content
    width: 1000px
  .footer__logo
    width: 36%
    height: 36%
    margin-right: -237px

@media (max-width: 1200px)
  .footer__content
    width: 800px
  .footer__logo
    margin-right: -212px

  .gh_logo
    width: 45%
    height: 45%
  .footer
    font-size: 16px
  .footer__gitHub
    width: 500px
  .gh_title
    margin-left: -22px

@media (max-width: 1000px)
  .footer__content
    width: 650px
  .footer__logo
    margin-right: -160px
  .gh_logo
    width: 40%
    height: 40%
  .footer
    font-size: 10px
  .footer__gitHub
    width: 350px
  .gh_title
    margin-left: -22px
  .footer_year
    font-size: 16px

@media (max-width: 992px)
  .footer
    height: 100px
  .footer__content
    width: 500px
  .footer__logo
    width: 40%
    height: 40%
    margin-right: -140px
  .gh_logo
    width: 30%
    height: 30%
  .footer
    font-size: 10px
  .footer__gitHub
    width: 320px
  .gh_title
    margin-left: -30px
  .footer_year
    font-size: 12px

@media (max-width: 668px)
  .footer__content
    width: 400px
  .footer__logo
    width: 35%
    height: 35%
    margin-right: -115px
  .gh_logo
    width: 25%
    height: 25%
  .footer
    font-size: 8px
  .footer__gitHub
    width: 260px
  .gh_title
    margin-left: -30px
  .footer_year
    font-size: 10px

@media (max-width: 500px)
  .footer
    height: 80px
  .footer__content
    width: 350px
  .footer__logo
    width: 40%
    height: 40%
    margin-right: -100px
  .gh_logo
    width: 25%
    height: 25%
  .footer
    font-size: 8px
  .footer__gitHub
    flex-direction: column
    width: 150px
    a
      margin: 5px 0px
  .gh_title
    margin-left: -30px
  .footer_year
    font-size: 12px

@media (max-width: 420px)
  .footer__content
    width: 300px
  .footer__logo
    width: 45%
    height: 45%
    margin-right: -100px
