// Common styles
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

*
  box-sizing: border-box

#app
  background-color: #fdf8ff
  height: 100%
  font-family: 'Montserrat', sans-serif
  font-weight: 300
  margin: 0
  overflow-x: hidden

img
  display: block

a 
  text-decoration: none
  color: #000000

button
  cursor: pointer
  &:disabled,
  &:disabled:hover
    cursor: default
    opacity: 0.5
