h1,
h2,
h3,
h4,
h5,
h6
  font-weight: inherit
  font-size: inherit

html,
body
  height: 100%
  line-height: 1
  font-size: 18px
  color: rgb(6, 6, 6)
  font-weight: 400
  font-family: Montserrat
  margin: 0px

.wrapper
  flex: 1 1 auto
  margin: 0 auto
  background-color: #FDF8FF
  background-position: center top
  min-height: 100%
  overflow: hidden
  display: flex
  flex-direction: column

.levels-wrapper
  width: 100%

.levels__title
  width: 494px
  height: 66px
  font-weight: 700
  font-size: 28px
  line-height: 34px
  display: flex
  align-items: center
  color: #000000
  justify-content: center

.levels__difficulty
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

.levels__container
  margin-top: 50px
  max-width: 100%
  width: 1394px
  height: fit-content
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  z-index: 0

.button__level
  position: relative
  margin-top: 20px
  width: 1180px
  height: 70px
  display: flex
  border: none
  outline: none
  background-color: #fff
  border-radius: 6px
  align-items: center
  justify-content: space-between

.button__level::before
  content: ''
  position: absolute
  top: -2px
  bottom: -2px
  left: -2px
  right: -2px
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%)
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  opacity: 0.3
  filter: blur(10px)
  border-radius: 5%
  z-index: -1

.button__level:hover
  cursor: pointer
  background-color: #F3E4F9

.button__level h3
  margin-top: 0
  margin-bottom: 0
  margin-left: 30px
  font-weight: 500
  font-size: 48px
  line-height: 34px
  display: flex
  align-items: center
  color: #000000

.button__level p
  margin-top: 0
  margin-bottom: 0
  margin-left: 15px
  font-weight: 500
  font-size: 40px
  line-height: 20px
  display: flex
  color: #000000

.name__level
  display: flex
  align-items: center

.button__add
  margin-right: 30px

.level-wrapper
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.owl__img
  display: flex
  flex-direction: column

.diagol
  background-position: center center
  background-size: auto
  background-repeat: no-repeat
  background-image: url(../../../../assets/images/speech.png)
  position: relative
  top: 172px
  left: 176px
  width: 300px
  height: 220px

.diagol h3
  width: 230px
  margin-left: 25px
  margin-top: 20px
  font-style: normal
  font-weight: 500
  font-size: 24px
  line-height: 29px
  text-align: center
  color: #000000

.diagol p
  width: 260px
  margin-left: 25px
  margin-top: 20px
  font-weight: 500
  font-size: 20px
  line-height: 24px
  color: #000000

.owl
  width: 170px
  height: 190px
  position: relative
  top: 113px
  left: 158px
  margin-right: 800px

/**/
@media (max-width: 1400px)
  .button__level
    width: 950px

  .levels__container
    width: 1100px

@media (max-width: 1200px)
  .button__level
    width: 850px

  .levels__title
    margin-top: 55px

  .levels__container
    margin-top: 0px

@media (max-width: 992px)
  .button__level
    width: 625px

  .owl
    top: 63px

  .diagol
    top: 117px

  .levels__container
    width: 800px

@media (max-width: 768px)
  .owl
    width: 170px
    height: 190px
    position: static
    margin-right: 0
    margin-left: -20px

  .diagol
    position: static
    width: 300px
    height: 220px
    margin-bottom: -50px

  .levels-wrapper
    display: flex
    justify-content: center
    margin-top: 50px

  .button__level
    width: 475px

  .button__level h3
    font-size: 40px

  .button__level p
    font-size: 33px

@media (max-width: 576px)
  .owl
    width: 125px
    height: 142px
    margin-left: 15px

  .diagol
    background-size: 75%
    margin-bottom: -75px

  .diagol h3
    width: 219px
    margin-left: 40px
    margin-top: 32px
    font-size: 20px
    line-height: 29px
    margin-bottom: 0

  .diagol p
    width: 200px
    margin-left: 50px
    margin-top: 5px
    font-size: 16px

  .levels__title
    margin-top: 20px
    font-size: 24px

  .button__level
    width: 350px
    height: 54px

  .levels__container
    width: 420px
    height: 440px

  .button__level h3
    font-size: 28px
    margin-left: 10px

  .button__level p
    font-size: 23px

  .levels-wrapper
    margin-top: 25px

@media (max-width: 420px)
  .levels__title
    font-size: 18px

  .button__level
    width: 278px
    height: 45px

  .levels__container
    width: 320px
    height: 380px

  .button__level p
    font-size: 18px
